html,
body {
  padding: 0;
  margin: 0;
  min-width: 740px;
  background-image: url("../public/fon.jpg");
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.nav {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  margin: 0px 10vw;
  justify-items: center;
  height: 100px;
  align-items: center;
}

.tokensPicturesArea {
  display: flex;
  margin: 0px 15vw;
  height: calc(100vh - 250px);
  align-items: center;
  justify-content: space-between;
}

.tokenPicture {
  border-radius: 12px;
  height: 300px;
  width: 300px;
  border: 3px solid white;
}

.tokenPicture:hover {
  cursor: pointer;
}

.modall {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.545);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: 0.2s;
}

.modall.active {
  opacity: 1;
  pointer-events: all;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 250px;
  height: 250px;
  margin: 20px 0px;
}


.znachokAlert {
  z-index: 1020;
  height: 440px;
  width: 600px;
  padding: 20px;
  background: rgb(41, 39, 39);
  border-radius: 12px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.MintButton {
  width: 150px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 12px;
  border: none;
  margin: 30px;
  font-size: 20px;
  font-weight: bold;
}

.MintButton:hover {
  cursor: pointer;
}

.CENTER {
  display: flex;
  justify-content: center;
}

.balances {
  display: grid;
  justify-content: center;
  margin: 20px 15vw 0px 15vw;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.zkPsprt {
  margin-top: 10px;
  font-weight: bold;
  font-size: 50px;
}

.description {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  font-size: 26px;
}


.verify {}

.verify {
  cursor: pointer;
}

.verifyed {
  font-size: 24px;
}

.JustSolv {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}

.status {
  text-align: center;
  font-size: 25px;
}

.pulse {
  margin-top: 10px;
  width: 330px;
  height: 45px;
  border-radius: 22px;
  font-size: 25px;
  padding: 10px;
  background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  transform: translate3d(0, 0, 0);
  border: none;
  color: #0d0e0f;
  font-size: 21px;
  font-weight: bold;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}